@inject State SignalRStateManager
@using Models
@implements IDisposable

@if (SignalRStateManager.IsLoading())
{
    <div class="mt-3 ms-3">
        <HxSpinner /> @(SignalRStateManager.State.ToString())
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        SignalRStateManager.OnChange += OnChangeHandler;
        
        await SignalRStateManager.Initialize();
    }

    private void OnChangeHandler(object? _, EventArgs args)
    {
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        if (SignalRStateManager?.OnChange != null)
        {
#pragma warning disable CS8601
            SignalRStateManager.OnChange -= OnChangeHandler;
#pragma warning restore CS8601
        }
    }
}