@using Models
@using UI.Extensions
@inject State State
@inject SignalRStateManager SignalRStateManager
@implements IDisposable

@if (State.StateEnum.IsLoading())
{
    <div class="mt-3 ms-3">
        <HxSpinner /> @(State.StateEnum.ToString())
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignalRStateManager.Initialize();
    }

    private void OnChangeHandler(object? _, EventArgs args)
    {
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        State.PropertyChanged -= OnChangeHandler;
    }
}